<a href="https://colab.research.google.com/github/j-ranasinghe/Electricity-consumption-forecasting/blob/main/Data_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import matplotlib as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder

In [116]:
df = pd.read_csv("/content/DATA.csv", names = cols)
cols = ["ACCOUNT_NO","LOCATION","DATE","SALES_TYPE","BILL","UNIT"]

In [117]:
df.head()

   ACCOUNT_NO  LOCATION       DATE SALES_TYPE     BILL   UNIT
0  0210833304  KELANIYA  12/1/2022          C   412.72    0.0
1  0202021710  KELANIYA  12/1/2022          C   367.52    9.0
2  0202019004  KELANIYA  12/1/2022          C  8188.00  209.0
3  0202027507  KELANIYA  12/1/2022          C  3112.72  105.0
4  0202020401  KELANIYA  12/1/2022          C  1818.42   84.0

In [118]:
df.shape #Check the shape of the dataset

(882339, 6)

In [119]:
df["UNIT"] = df["UNIT"].astype(float)
df["BILL"] = df["BILL"].astype(float)

In [120]:
df.dtypes

ACCOUNT_NO     object
LOCATION       object
DATE           object
SALES_TYPE     object
BILL          float64
UNIT          float64
dtype: object

In [121]:
df["DATE"] = pd.to_datetime(df["DATE"])
df["MONTH"] = df["DATE"].dt.month
df["YEAR"] = df["DATE"].dt.year
df = df.sort_values("DATE").drop("DATE", axis=1)

In [123]:
# Extract the values for the "location" column
location_data = df['LOCATION'].values

In [124]:
# Create a LabelEncoder object
encoder = LabelEncoder()

# Fit the encoder to the location data
encoder.fit(location_data)

# Encode the location data
encoded_location = encoder.transform(location_data)
df['LOCATION'] = encoded_location

In [127]:
# Extract the values for the "SALES_TYPE" column
Sales_type_data= df['SALES_TYPE'].values
# Create a LabelEncoder object
encoder = LabelEncoder()

# Fit the encoder to the sales type data
encoder.fit(Sales_type_data)

# Encode the location data
encoded_sales_type = encoder.transform(Sales_type_data)
df['SALES_TYPE'] =encoded_sales_type

In [134]:
df.head()

        ACCOUNT_NO  LOCATION  SALES_TYPE      BILL   UNIT  MONTH  YEAR
703398  0704379203         2           0   1272.00   57.0      9  2022
528672  0201552901         0           0    393.05   18.0      9  2022
528671  0201549403         0           0  20092.00  581.0      9  2022
528670  0207391811         0           0   1647.98   80.0      9  2022
528669  0207704706         0           0   3502.00  110.0      9  2022

In [135]:
df.describe()

,LOCATION,SALES_TYPE,BILL,UNIT,MONTH,YEAR
count,882339.000000,882339.000000,8.823390e+05,882339.000000,882339.000000,882339.0
mean,0.727565,0.002471,7.923696e+03,235.451435,10.311261,2022.0
std,0.759889,0.049645,1.308571e+05,2964.056391,1.101851,0.0
min,0.000000,0.000000,-7.499502e+07,-1000000.000000,9.000000,2022.0
25%,0.000000,0.000000,7.800000e+02,56.000000,9.000000,2022.0
50%,1.000000,0.000000,2.800000e+03,101.000000,10.000000,2022.0
75%,1.000000,0.000000,5.522040e+03,159.000000,11.000000,2022.0
max,2.000000,1.000000,5.949937e+07,793399.000000,12.000000,2022.0

In [ ]:
    # Scaling the input data
    sc = MinMaxScaler()
    label_sc = MinMaxScaler()
    dadfta = sc.fit_transform(df.values)